{
  "singleQuote": true,
  "printWidth": 200,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "semi": false,
  "trailingComma": "none",
  "useTabs": false
}
